<!--<div class="inventory-app">-->
  <!--<h1>{{ product.name }}</h1>-->
  <!--<span>{{ product.sku }}</span>-->
<!--</div>-->

<div class="page-header">
   <div class="container">
   <div class="navLinks">
   <a [routerLink]="['/home']">Home</a>
     |
   <a [routerLink]="['/about']">About Us</a>
     |
   <a [routerLink]="['/contact']">Contact Us</a>
   |
   <a [routerLink]="['/products']">Products</a>
     |
   <a [routerLink]="['/login']">Login</a>
     |
   <a [routerLink]="['/protected']">Protected</a>
   </div>
   </div>
   </div>

 <div id="content">
   <div class="container">
   <router-outlet></router-outlet>
   </div>
   </div>


<div class="inventory-app">
  <products-list
    [productList]="products"
    (onProductSelected)="productWasSelected($event)">
  </products-list>
</div>

